<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Inicio</a>
        <a href="/tabla">Tablas</a>
        <a href="/grafico" class="active">Gráficos</a>
    </nav>
    
    <main>
        <h1>Gráficos</h1>
        <p>Información sobre las tablas.</p>
    </main>
</body>
</html>